@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-section {
        box-shadow: 0 0.25rem 0.25rem 0 color-mix(in srgb, theme("colors.color.shadow.primary"), transparent 75%);
    }

    .shadow-card {
        box-shadow: 0 0.25rem 0.75rem 0.3125rem color-mix(in srgb, theme("colors.color.shadow.primary"), transparent 75%);
    }

    .shadow-modal {
        box-shadow: 0 1.5rem 5rem 0 color-mix(in srgb, theme("colors.color.shadow.accent"), transparent 76%);
    }
}
